spring:
  application:
    name: server
  datasource:
    url: jdbc:postgresql://db:5432/mydb
    username: compose-postgres
    password: compose-postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update